<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Order List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customername</th>
          <th>Items</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{order.customerName}}</td>
          <td>{{order.items}}</td>
          <td>{{order.totalPrice}}</td>
          <td><button (click)="deleteOrder(order.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateOrder(order.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="orderDetails(order.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

